/* Ajusta apenas o tamanho das fontes */
.text-sm {
    font-size: 1.125rem !important; /* 0.875rem * 1.5 */
}

.text-base {
    font-size: 1.5rem !important; /* 1rem * 1.5 */
}

.text-lg {
    font-size: 1.6875rem !important; /* 1.125rem * 1.5 */
}

.text-xl {
    font-size: 1.875rem !important; /* 1.25rem * 1.5 */
}

.text-2xl {
    font-size: 2.25rem !important; /* 1.5rem * 1.5 */
}

/* Ajusta linha de texto para manter legibilidade */
.text-sm, .text-base, .text-lg, .text-xl, .text-2xl {
    line-height: 1.5;
}

/* Mantém tamanho dos ícones */
.h-3, .w-3, .h-4, .w-4 {
    height: initial;
    width: initial;
}